html,
body {
    margin: 0;
    background-image: linear-gradient(to right, #37306B, #66347F);
    padding: 0;
    z-index: 1;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.main {
    min-height: 100vh;
}

.clock {
    background-color: #9376E0;
    opacity: .8;
    z-index: 1
}